@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300&family=Dosis&display=swap');

*{
    margin:0;
    padding:0;
    border:0;
}

body{
    font-family: Cairo, sans-serif;
    color: #1E3A50;
}

/* headings and logo */

.heading{
    width: 100%;
    height: 100px;
    background: rgba( 16, 87, 119, .7);
    color:  #fff;
   
}

h1, h2{
    font-family: Dosis, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #1E3A50;
}

#logo{
    float: left;
    font-size: 360%;
    margin-left: 60px;
    padding-top: 12.5px;
    padding-bottom: 12.5px;
    color: #fff;
}

/* navigation links */

#menu{
    font-size: 130%;
    letter-spacing: 4px;
    line-height: 100px;
}


#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover{
    border-bottom: 1px solid #fff;
}

.active{
    border-bottom: 1px solid #fff;
}

/* hero image */

#main-image{
    height: 800px;
    width: 100%;
    overflow: hidden;
} 

#main-image > img{
    object-fit: cover;
    height: 800px;
    width: 100%;
}

#cover-text{

    margin: 0 auto;
    top: 250px;
    width: 100%;
    height: 300px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;

    position: absolute;

}

#cover-text > h2 {

    color: #fff;
    text-shadow: 2px 2px black;
    font-size: 400%;
}
 

/* Activities */

#activities{
    height: 600px;
    width: 100%;
}
#activities-heading{
    height: 180px;
    width: 100%;
}

#activities-heading > h2{
    font-size: 220%; 
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    color: #1E3A50;
}

#activities-list{
    text-align: center;
    height: 500px;
    font-size: 120%;

}

hr {
    border-top: 1px solid #1E3A50;
    width: 100%;
    margin: 5px 0;
}

/* Footer */

footer{
    height: 150px;
    position: absolute;
    width: 100%;
}

.social-networks{
    text-align: center;

}

.social-networks li{
    display: inline;
}

.social-networks i{
    font-size: 240%;
    margin: 1%;
    padding: 5%;
    color: #1E3A50;
}

/* about-us image */

#about-image{
    height: 800px;
    width: 100%;
    overflow: hidden;
}

#about-image > img{
    object-fit: cover;
    height: 800px;
    width: 100%;
}

/* About-us */

/* Description */

.description-section{
    width: 70%;
    margin: 0 auto;
    text-align: center;
    height: 600px;
    padding-top: 60px;
}

#description-heading{
    text-align: center;
    font-size: 180%;
    height: 100px;
    width: 100%;
    position: relative
}

.description-section > p{
    font-size: 180%;
    text-align: center;
}

/* Lessons */

#lessons-heading{
    text-align: center;
    font-size: 180%;
    height: 160px;
    padding-top: 80px;
    width: 100%;
    position: relative
}

.lessons{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    height: 540px;
    position: relative;
    background-color: rgba( 16, 87, 119, .7);
    padding-bottom: 30px;
    
}

#pricing-list{
    color: #fff;
    font-size: 120%;
    padding: 30px 30px 0 30px;
    height: 500px;
    width: 100%;
}

.border-top{
    border-top: 1px solid #fff;
    border-radius: 2px;
}

.contact-btn{
    border-radius: 2px;
    padding: 10px 28px 10px 28px;
    text-align: center;
    font-size: 140%;
    text-decoration: none;
    background-color: #1E3A50;
    color: #fff;
}

.contact-btn:hover{
    color: #1E3A50;
    background-color: #fff;
}

/* Gallery */

.gallery > h2{
    font-size: 260%;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
}

.photos {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0px;
}

.photos img{
    width: 100%;
}


/* Sign-Up form */

.form-section {
    clear: left;
    overflow: hidden;
    height: 800px;
}

.form-section > img{
    object-fit: cover;
    height: 800px;
    width: 100%;
}



.signup-form{
    margin: 120px 5% 0 0;
    color: #fff;
    background-color: rgba( 16, 87, 119, .6);
    max-width: 400px;
    position: absolute;
    left: 60px;
    top: 100px;
    padding: 30px; 
    font-size: 140%;
}

.signup-form > h2{ 
    color: #fff;
    margin-bottom: 20px;
}

.text-input{
    
    color: #1E3A50;
    width: 97%;
    height: 35px;
    margin: 5px 0 20px;
    border: 1px solid #fff;
    border-radius: 10px;
    padding-left: 10px;
    font-size: 70%;
    
}

.text-input:hover{
    border-color: #1debdc;
}

.join-button{
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #1E3A50;
    color: #fff;
    display: block;
}

.join-button:hover{
    color: #1E3A50;
    background-color: #fff;
}

/* Where to find us */


#contacts{
    height: 600px;
    width: 100%;
    text-align: center;
    font-size: 150%;
    padding-top: 80px;
    position: relative;
}

#contacts > h2{
    font-size: 180%;
}

/* Map*/

#map-wrapper {

    height: 600px;
    margin-bottom: 140px;
    position: relative;
    width: 100%;
}

#map {
    height: 100%;
    width: 100%;
    border: none;
}


/* Media Queries */

/* For large to screens sizes from  1400px wide down */

@media screen and (max-width: 1400px) {

    #main-image{
        height: 800px;
    }

    .photos{
        column-count: 3;
    }

}

/* For large to medium screens sizes from 980px wide and down */

@media screen and (max-width: 980px) {
    #menu{
        clear: left;
        float: left;
        margin-left: 60px; 
        margin-bottom: 20px;
        line-height: 25px;
    }

    .heading{
        height: 160px;
        width: 100%;
    }

    #cover-text{
        margin-top: 160px;
    }


    .form-section{
        width: 100%;
    }
    
    .photos{
        column-count: 2;
    }


    
}

/* For tablet to mobile screens sizes from 800px wide and down */

@media screen and (max-width: 800px) {

    .description-section{
        height: 750px;
    }

    
}

@media screen and (max-width: 610px) {

    .heading{
     
        height: 210px;
        width: 100%;
    }

    #logo{
        font-size: 330%;
    }

    #cover-text{

        top: 150px;
        width: 500px;
        height: 300px;
        text-align: center;
    
        position: absolute;
    
    }

    .description-section {
        height: 800px;
        width: 80%;
    }
    .photos{
        column-count: 1;
    }

    .signup-form{
        margin-top: 200px;
        float: left;
        font-size: 120%;
        left: 40px;
    }
}

/* For mobile screens sizes from 500px wide and down */

@media screen and (max-width: 520px) {

    

    #cover-text{
        width: 100%;
        height: 200px;
    }

    #cover-text > h2 {

        color: #fff;
        text-shadow: 2px 2px black;
        font-size: 300%;
        margin: 0 auto;
        text-align: center;
    }

    #about-image{
        height: 500px;
        width: 100%;
    }

    .description-section{
        height: 950px;
    }

    .signup-form{
        float: left;
        font-size: 120%;
        margin-left: 0px;
        margin-right: 0px;
        left: 0;
    }

    #pricing-list {
        font-size: medium;
    }

    .contact-btn{
        border-radius: 2px;
        padding: 5px 14px 5px 14px;
        font-size: 120%;
        
    }

}    

@media screen and (max-width: 430px) {

    .heading{
        height: 220px;
        width: 100%;
    }
    
    #logo{
        text-align: center;
        margin: 0 auto;
        font-size: 330%;
        color: #fff;
    }
    
    #menu {
        font-size: 110%;
    }

    #menu li{
        text-align: center;
        letter-spacing: normal;
    }
    #cover-text{
        width: 100%;
        height: 200px;
    }

    #cover-text > h2 {

        color: #fff;
        text-shadow: 2px 2px black;
        font-size: 300%;
        margin: 0 auto;
        text-align: center;

    }

    #main-image{
        height: 600px;
        width: 100%;
        overflow: hidden;
    }

    #main-image > img{
        object-fit: cover;
        height: 600px;
        width: 100%;
    }

    #activities-heading{
        height: 260px;
        width: 100%;
    }

    #activities{
        height: 1000px;
        width: 100%;
    }

    .description-section{
        width: 90%;
    }
}

@media screen and (max-width: 400px) {

    .form-section{
        height: 700px;
        width: 100%;
    }
    

    .signup-form{
        font-size: 100%;
    }

    .description-section{
        width: 95%;
    }


    #pricing-list{
        font-size: small;
    }

    .contact-btn{
        border-radius: 2px;
        padding: 2px 7px 2px 7px;
        font-size: 100%;
        
    }

}    

/* For small mobile screens sizes from 350px wide and down */

@media screen and (max-width: 350px) {

    .heading{
        height: 180px;
        width: 100%;
    }

    #logo{
        font-size: 260%;
    }


    #menu {
        font-size: 90%;
    }

    #menu li{
        text-align: center;
        letter-spacing: normal;
    }

    #cover-text {
        margin-top: 80px;
    }


    .description-section{
        height: 1000px;
        width: 97%;
    }

    #lessons-heading{
        padding-top: 160px;
    }
    #pricing-list{
        color: #fff;
        font-size: small;
        height: 500px;
        padding: 0;
    }

    .photos > img{
        height: 350px;
    }

    footer{
        height: 160px;
        width: 100%;
        padding-top: 30px;
    }


}