@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300&family=Dosis&display=swap');

*{
    margin:0;
    padding:0;
    border:0;
}

body{
    font-family: Cairo, sans-serif;
    color: #1E3A50;
}

/* headings and logo */

h1, h2{
    font-family: Dosis, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color:  #1E3A50;
}

#logo{
    float: left;
    font-size: 360%;
    margin-left: 60px;
}

/* navigation links */

#menu{
    font-size: 130%;
    letter-spacing: 4px;
}

#logo, #menu{
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover{
    border-bottom: 1px solid #1E3A50;
}

.active{
    border-bottom: 1px solid #1E3A50;
}

/* hero image */
#main-image{
    height: 1200px;
    background-image: url('https://images.pexels.com/photos/869258/pexels-photo-869258.jpeg?cs=srgb&dl=pexels-flo-maderebner-869258.jpg&fm=jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}

#cover-text, #cover-text h2 {
    color: #fff;
}
 
#cover-text {
    font-size: 180%;
    font-family: Dosis;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    
    width: 500px;
    height: 250px;
    
    padding-top: 40px;
    padding-left: 10px;
    
    background-color: rgba( 16, 87, 119, .7);
    
    top: 320px;
    left: 60px;
    
    position: absolute;
}

#image-text{
    color: #1E3A50;
    font-size: 280%;
    font-family: Cairo;
    letter-spacing: 4px;

    bottom: 80px;
    left: 60px;

    position: absolute;
}

/* Footer */

footer{
    height: 100px;
}

.social-networks{
    text-align: center;

}

.social-networks li{
    display: inline;
}

.social-networks i{
    font-size: 240%;
    margin: 1%;
    padding: 5%;
    color: #1E3A50;
}

/* about-us image */

#about-image{
    height: 1200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
    background-image: url('https://images.pexels.com/photos/3800412/pexels-photo-3800412.jpeg?cs=srgb&dl=pexels-volker-meyer-3800412.jpg&fm=jpg');
}

/* Sign-Up form */

.form-section {
    clear: left;
    background: url('https://images.pexels.com/photos/356808/pexels-photo-356808.jpeg?cs=srgb&dl=pexels-daniel-frank-356808.jpg&fm=jpg');
    background-size: cover;
    background-position: center;
    height: 1200px;
}

.signup-form{
    margin: 120px 5% 0 0;
    color: #fff;
    background-color: rgba( 16, 87, 119, .6);
    max-width: 400px;
    position: absolute;
    left: 60px;
    top: 100px;
    padding: 30px; 
    font-size: 160%;
}

.signup-form > h2{
    color: #fff;
    margin-bottom: 20px;
}

.text-input{
    
    color: #1E3A50;
    width: 97%;
    height: 35px;
    margin: 5px 0 20px;
    border: 1px solid #fff;
    border-radius: 10px;
    padding-left: 10px;
    font-size: 70%;
    
}

.text-input:hover{
    border-color: #1debdc;
}

.join-button{
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #1E3A50;
    color: #fff;
    display: block;
}

.join-button:hover{
    color: #1E3A50;
    background-color: #fff;
}